@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-violetDark
}

.patternDark{
  background-image: url('./attachments/bg/violetDark.png');
}
.buttonPrimary{
  @apply border-2 border-violetBorder rounded-md text-white px-3 ;
  background-image: url('./attachments/bg/violetLight.png');
  text-shadow: 0px 1px 20px #000000;
}